body {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  font-size: 62.5%;
  background: dimgrey;
}

header {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  position: fixed;
  border-right: 3px solid lightgrey;
}

li {
  display: flex;
  justify-items: space-around;
  align-items: flex-start;
  font-size: 1rem;
  padding: 5px 0;
  text-decoration: none;
  color: indianred;
}

li:hover {
  font-size: 1.2rem;
  color: darkred;
}

.image {
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
}

.slider {
  width: 85%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  width: 85%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} 